html,body,div{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #272d37;
}
.wrap{
	position: relative;
}
.card-frond{
	display: inline-flex;
	position: relative;
	left: -255.5%;
}
.card-back{
	display: inline-flex;
    position: absolute;
    top: 0;
    margin-top: 14.13333333vw;
    left: -228.3%;
}
.card-back .card{
	width: 38.93333333vw;
    height: 62.4vw;
    background-color: rgba(145, 155, 172, .9);
    display: inline-block;
    margin: 0 8.4vw;
    border-radius: 8px;
}
.card-frond .card{
	width: 60vw;
	height: 96vw;
	background-color: rgba(255,255,255,.9);
	display: inline-block;
	border-radius: 10px;
	margin: 0 4vw;
}